/* You can press ctrl+spacebar to see the autofill options */

body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* width: 50%; */
    background-color: rgb(249, 248, 229);
}

/* @media (max-width: 900px) {
    .body {margin: 0 10px;}
} */

h1 {
    border-style: solid;
    border-width: 3px;
    border-color: #a45a21;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: brown;
    background-color: #f2e5c2;
}

p {
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: #537021;
}

#slogan {
    padding: 0px;
    font-style: italic;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    border-style: solid;
    border-width: 3px;
    border-color: #a45a21;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: brown;
    background-color: #f2e5c2;
}

h4 {
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    color: brown;
    background-color: #f2e5c2;
}

a {
    color: brown;
    text-decoration: none;
}

/* IMAGES */

img {
    width: 200px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: olivedrab;
    align-items: center;
}

.firstimage {
    width: 600px;
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 30px;
}

.coffee-images {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}
.coffee-images img {
    width: 200px;
    margin: 5px;
    /* padding: 5px; */
}

.card {
    text-align: center;
}

/* the div id is useful here because it helps you colour the whole navbar rather than each little link */
/* align items is the vertical, and justify content is the horizontal */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2e5c2;
    background-color: #a45a21;
    border-style: solid;
    border-width: 3px;
    border-color: #f2e5c2;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
#navbar a {
    padding: 10px;
    color: #f2e5c2;
}

.flexy {
    display: flex;
    align-items: center;
}

.iconleft {
    width: 35px;
    margin-left: 5px;
    margin-right: 0px;
    border: none;
    align-items: left;
}
.iconright {
    width: 35px;
    margin-left: 0px;
    margin-right: 5px;
    border: none;
    align-items: right;
}

#socialbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: #f2e5c2;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    border-color: #8a4a18;
    padding: 10px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;  
}
#socialbar a {
    padding: 10px;
    color: brown;
}